{% extends 'base.html' %}

{% block title %} employeer Update Data {% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete data of {{emp.full_name}} !!!
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <a href="/employeer" class="btn btn-outline-success">Cancel</a>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
</div>

{% endblock %}